.theme-toggle-btn {
    background-color: white;
    color: white;
    padding: 15px;
    font-size: 15px;
    border: none;
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999;
    border-radius: 15%;
  }
  
  .theme-dropdown-content {
    display: none;
    position: fixed;
    bottom: 65px;
    right: 20px;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 999;
  }
  
  .theme-dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .theme-dropdown-content a:hover {
    background-color: #f1f1f1;
  }
  
  .color-theme-container:hover .theme-dropdown-content {
    display: block;
  }