body{
    font-family: "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    background-color: #EEEDEB;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    color: #333;
}

.header{
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
    color: #333;
}

.main-container{
    width: 60%;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
}

.inside{
    margin-top: 55px;
}

.section{
    display: block;
    width: 60%;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.section img{
    margin: auto;
    display: block;
    
}